.header-style {
    background-color: rgba(0, 0, 0, 0);

    padding: 20px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: none !important;
    z-index: 1; /* Make sure the header appears above the background image */
  }