.robot-pic {
    width: 512px;
    height: 561px;

    background-repeat: no-repeat;   
}

.bg-sphere {
    background-image: url(/src/assets/images/ellipse-background.png);
    height: 100vh;
    background-repeat: no-repeat;
}


.page-content {
    display: flex;
}

.text {
    color: white;

    display : flex;
    flex-direction: column;
    padding-left: 70px;

    padding-top: 18%;

    width: 644px;
    height: 67px;
    
}

#mainText {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 25px;


}

#subText {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.App-link {
    color: white;
    padding-left: 20px;
  }