.App-link {
    color: green;
    padding-left: 20px;
}

.main-rec{
    display: flex;
    z-index: 3;
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 35%;
    right: 50%;
}


.center-rec {
    width: 400px;
    height: 500px;


}

.small-ellipse {
    position: absolute;
    width: 350px;
    height: 350px;
    left: 750px;
    top: 10px;
    z-index: 2;
}

.small-rec {
    position: absolute;
    width: 350px;
    height: 350px;
    left: 300px;
    top: 300px;
    z-index: 1;
}