* {
  box-sizing: border-box;
}

.main {
  display: flex;
  padding-right: 1rem;
  padding-left: 3rem;
  gap: 50px;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 50%;
  gap: 1rem;
}

.drop-down{
  width: 90%;
  display: flex;
  align-self: center;
}

.controls {
    display: grid;
    justify-items: center;
    justify-self: center;
}

.arm-buttons {
    position: relative;
    padding-bottom: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 2.5rem;
}


.save{
    display: inherit;
    flex-direction: row;
    gap: 2rem;
    justify-content: flex-end;
    padding-bottom: 2rem;
}

.right-column{
    gap: 1rem;;
}

.left-column{
  justify-content: center;

}

.endpoint-option > div, 
.css-6hp17o-MuiList-root-MuiMenu-list li{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

#camera-stream{
  width: 38rem;
  height: 28rem;
}

.no-stream-view {
  width: 38rem;
  height: 28rem;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 700px) {
  .main {   
    flex-direction: column;
  }
}