* {
  box-sizing: border-box;
}

.main {
  display: flex;
  padding-right: 1rem;
  padding-left: 3rem;
  gap: 50px;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 50%;
}

.drop-down{
  width: 90%;
  display: flex;
  align-self: center;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 85%;
    padding-left: 2rem;
}

.arm-buttons {
    position: relative;
    padding-bottom: 2rem;
    padding-left: 8rem;
    padding-top: 10px;
    padding-bottom: 40px;
}


.save{
    display: inherit;
    flex-direction: row;
    gap: 2rem;
    justify-content: flex-end;
    padding-bottom: 2rem;
}

.right{
    gap: 1rem;
}

.endpoint-option > div, 
.css-6hp17o-MuiList-root-MuiMenu-list li{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

#camera-stream{
  width: 38rem;
  height: 28rem;
}

.no-stream-view {
  width: 38rem;
  height: 28rem;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}
