.App-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 999;
    height: 60px;
    gap: 40px;
    padding-right: 3rem;
    padding-left: 3rem;
    color: black;
}